@font-face {
    font-family: 'My Lucida';
    src: url('../font/LucidaGrande.ttf');
    font-style: normal; 
    font-weight: bold;
}

html{
  font-size:16px ;
}

* { 
    font-family: 'My Lucida', Console;
}

body {
    background: linear-gradient(to bottom, #efefef, white) no-repeat;
}

a {
    color: black;
    text-decoration: none;
}

.wrapper {
    padding: 1.5rem 0;
}


body > header {
    margin-bottom: 1.25rem;
    background: white;
    box-shadow: 0.0625rem 0px 0.5rem rgb(200, 200, 200);
}

header .logo-search form  {
    width: 50%;
}

header .user {
    float: right;
}

@media(max-width:767px) {
header > input {
    display : none; 
}
header .share {
    display : none;
}  
}

header .user a {
    font-size: 0.8125rem;
    color: #89949b;
    padding-top: 0.3125rem;
}

main h2 {
    margin-top: 0.25rem;
}


main article {
    display: inline-block;
}

h3 {
    color: #b8c3c9;
    text-transform: uppercase;
    font-size: 0.6875rem;
    font-weight: normal;
    margin-bottom: 0.625rem;
}

nav ul li a { 
    font-size: 0.875rem;
    font-weight: normal;
    color: #828c92;
}

nav ul li a:hover {
    color: #fe7f19;
}

nav ul li {
    margin-top: 0.3125rem;
}

main header aside img {
    border: 0.0625rem solid #dadada;
    border-radius: 50%;
    box-shadow: 0 0 0.3125rem #cecece;
}

nav ul li:last-child {
    margin-bottom: 1.875rem;
}

h1 {
    color: #4b5c66;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0 0 0.5rem 0;
}

.name p { 
    color: #a0aab1;
    font-size: 0.75rem;
}

.name p img { 
    margin-left: 0.75rem;
}


.stats-links {
    color: #4b5c66;
    font-size: 0.75rem;
    padding: 0.9375 0px 0.625rem 0px;
    border-bottom: 0.0625rem solid #e1e6e9;
    margin-bottom: 1.25rem;
}

.stats-links span, .stats-links a {
    margin-right: 1.25rem;
}

.stats-links a:last-child {
    margin-right: 0;
}

.stats-links a {
    font-size: 0.75rem;
    font-weight: normal;
    color: #4b5c66;
}

h2 {
    font-size: 1.25rem;
    font-weight: normal;
    color: #4b5c66;
}

header form {
    width: 100%;
}

input.search {
    background: url("../img/icon/search.png") #ebeff1 no-repeat 8px;
    box-shadow: none;
    height: 1.75rem;
    width: 100%;
    font-size: 0.8125rem;
    padding: 0.1875rem 0.375rem 0.1875rem 1.5625rem;
    border: 1px solid #d0dde9;
    margin: 0;
    border-radius: 0.9375rem;
    top: 11px;
    box-shadow: inset 0.0625rem 0.0625rem 0.3125rem #d5d5d5;
}

input.submit {
    display: none;
}

.station {
    font-size: 0.75rem;
    color: #008fd5;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #b8c3c9;
    cursor: pointer;
    padding: 0.4375rem 0.625rem 0.4375rem 1.875rem;
    box-shadow: 0.0625rem 0.0625rem #d5d5d5;
    background: url("../img/icon/station.png") no-repeat 8px;
    transition: all 0.4s;
}

.station:hover {
    background-color: #0A90D5;
    color: white;
    background-image: url("../img/icon/station-white.png");
}


#albums article {
    font-size: 0.8125rem;
    color: #89949b;
    margin: 0.625rem 0;
}

#albums article img {
    border: 0.0625rem solid #cbcbcb;
    transition: all 0.3s;
    width: 100%;
}

#albums article img:hover {
    box-shadow: 0 0 0.9375rem #848484;
    transform: scale(1.1) rotate(-3deg);
}

#albums article figcaption {
    color: #4b5c66;
    margin-top: 0.375rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#albums article .artist, #albums article .count {
    margin-top: 0.25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#albums .explicit {
    color: #ff5d5d;
    margin-left: 0.3125rem;
}

nav.browse a, nav.music a {
    padding-left: 1.25rem;
    padding-top: 0.125rem;
}

nav a.heavy { background: url("../img/icon/heavy.png") no-repeat 0px; }
nav a.recent { background: url("../img/icon/recent.png") no-repeat 0px; }
nav a.top { background: url("../img/icon/top.png") no-repeat 0px; }
nav a.new { background: url("../img/icon/new.png") no-repeat 0px; }
nav a.collection { background: url("../img/icon/collection.png") no-repeat 0px; }
nav a.history { background: url("../img/icon/history.png") no-repeat 0px; }




